@import './variables';  // 引入变量

// reset 样式重置
* {
  box-sizing: border-box;
  outline: none;
}
html {
  height: 100%;
  // 为rem做准备
  font-size: 13px;
}
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #999;
}
p {
  line-height: 1.5rem;
}

// colors  有冲突的颜色加上引号（为了统一一般建议都加引号）
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}
// text overflow
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// font-size      使用px to rem （快捷键：Alt+s, Alt+z）
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

// width  height
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}


// flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}
@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}
.flex-1 {     // grow shrink basic
  flex: 1;    //  1 1 auto
}
.flex-grow-1 {
  flex-grow: 1;
}


// spacing
@each $typeKey, $type in $spacing-types {
  // 类似.m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // 类似.mx-1 .my-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  // 类似.mt-1
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      // 生成类似  .mt-1 { margin-top: 0.25rem; }  的样式
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

// button
.btn {
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($map: $font-sizes, $key: 'sm') * $base-font-size;
  padding: 0.3rem 0.6rem;
  &.btn-lg {
    background: map-get($map: $colors, $key: 'light');
    border: 1px solid #eee;
    border-radius: 1rem;
    padding: 0.45rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// nav
.nav {
  display: flex;
  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 0.2rem;
    &.active {    // 当前活动页
      color: map-get($map: $colors, $key: 'primary');
      border-bottom-color: map-get($map: $colors, $key: 'primary');
    }
  }
  &.nav-inverse {
    .nav-item {
      color: map-get($map: $colors, $key: 'white');
      &.active {
        border-bottom-color: map-get($map: $colors, $key: 'white');
      }
    }
  }
}

// sprite
.sprite {
  display: inline-block;
  background: url('../images/index.png') no-repeat 0 0;
  background-size: 28.8462rem 35rem;
  &.sprite-news {
    background-position: 63.546% 15.517%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.sprite-story {
    background-position: 90.483% 15.614%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.sprite-market {
    background-position: 36.746% 0.924%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.sprite-tyf {
    background-position: 10.408% 15.517%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.sprite-new {
    background-position: 89.733% 1.266%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.sprite-world {
    background-position: 36.467% 15.287%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.sprite-yd {
    background-position: 9.302% 0.813%;
    width: 2.3846rem;
    height: 1.9231rem;
  }
  &.sprite-vertion {
    background-position: 46.768% 60.452%;
    background-size: 53.8462rem 69.2308rem;
    width: 1.8462rem;
    height: 2rem;
  }
  &.sprite-battle {
    background-position: 10.408% 15.517%;
    width: 1.5385rem;
    height: 1.5385rem;
  }
  &.sprite-talk {
    background-position: 63.546% 15.517%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.sprite-wx {
    background-position: 0 96.207%;
    width: 1.8462rem;
    height: 1.5385rem;
  }
  &.sprite-arrow {
    background-position: 38.577% 52.076%;
    width: 0.7692rem;
    height: 0.7692rem;
  }
}

// borders
@each $dir in (top, right, bottom, left) {
  .border-#{$dir} {
    border-#{$dir}: 1px solid $border-color;
  }
}