// reset 样式重置
* {
  box-sizing: border-box;
  outline: none;
}
html {
  // 为rem做准备
  font-size: 13px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2rem;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #999;
}

// colors  有冲突的颜色加上引号（为了统一一般建议都加引号）
$colors: (
  "primary": #db9e3f,
  "white": #fff,
  "light": #f9f9f9,
  "grey": #999,
  "grey-1": #666,
  "dark-1": #343440,
  "dark": #222,
  "black": #000,
);
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}

// font-size      使用px to rem （快捷键：Alt+s, Alt+z）
$base-font-size: 1rem;
$font-sizes: (
  xxs: 0.6154, // 8px
  xs: 0.7692,  // 10px
  sm: 0.9231,  // 12px
  md: 1,       // 13px
  lg: 1.0769,  // 14px
  xl: 1.2308   // 16px
);
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}


// flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
$flex-jc: (   // justify-content    主轴
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);
@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}
$flex-ai: (   // align-items        交叉轴
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch
);
@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}
.flex-1 {     // grow shrink basic
  flex: 1;    //  1 1 auto
}
.flex-grow-1 {
  flex-grow: 1;
}


// spacing
$spacing-types: ( m: margin, p: padding );    // margin padding
$spacing-directions: ( t: top, r: right, b: bottom, l: left );  // 上右下左
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);
@each $typeKey, $type in $spacing-types {
  // 类似.m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // 类似.mx-1 .my-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  // 类似.mt-1
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      // 生成类似  .mt-1 { margin-top: 0.25rem; }  的样式
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

// button
.btn {
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($map: $font-sizes, $key: 'sm') * $base-font-size;
  padding: 0.3rem 0.6rem;
}

// nav
.nav {
  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 0.2rem;
    &.active {    // 当前活动页
      border-bottom: 3px solid #fff;
    }
  }
}